/* 상품 등록 제목 */
#product-register-title {
    font-size: 28px;
    font-weight: bold;
    color: #224d89;
    text-align: center;
    border-bottom: 3px solid #224d89;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
/* 폼 그룹 */
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* 레이블 스타일 */
.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

/* 입력 필드 */
input[type="text"],
input[type="number"],
textarea,
select {
    width: calc(100% - 20px); /* 버튼 공간 제외하고 필드 크기 조정 */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
}

input[type="file"] {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* 입력 필드 포커스 시 스타일 */
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #224d89;
    background-color: #fff;
    outline: none;
}

/* 상품 설명 영역 */
#product-description {
    height: 150px;
    resize: vertical;
}

/* 제출 버튼 */
button[type="submit"] {
    background-color: #224d89; /* 기본 색상 */
    color: white;
    padding: 12px 20px; /* 패딩을 적당히 줄여서 크기 조정 */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    margin-left: auto;
    margin-right: 0;
    transition: background-color 0.3s, box-shadow 0.2s;
    bottom: 20px; /* 하단에 위치 */
    right: 20px; /* 오른쪽에 위치 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* 버튼 호버 효과 */
button[type="submit"]:hover {
    background-color: #1a3b6f; /* 호버 색상 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* 카테고리 버튼들 */
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-buttons button {
    font-size: 14px;
    padding: 10px 18px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
}

.category-buttons button:hover, .category-buttons .selected {
    background-color: #224d89;
    color: white;
    border-color: #224d89;
}

/* 미리보기 컨테이너 */
#preview {
    position: relative; /* 자식 요소들의 위치를 기준으로 설정 */
    z-index: 1; /* 버튼이 위에 가려지지 않도록 설정 */
    margin-top: 20px; /* 이미지와 버튼 사이에 공간을 추가 */
}

/* 미리보기 이미지 스타일 */
#preview img {
    width: 100px; /* 이미지 크기 설정 */
    margin: 5px; /* 이미지 간격 설정 */
}

/* 작은 화면에서 디자인 조정 */
@media (max-width: 768px) {
    #product-register-title {
        font-size: 24px;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select,
    button[type="submit"] {
        font-size: 14px;
    }
}