h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* 폼 그룹 */
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* 레이블 스타일 */
.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

/* 입력 필드 */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: calc(100% - 150px); /* 버튼 공간을 제외한 필드 너비 조정 */
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f7f7f7;
    transition: all 0.3s ease;
}

/* 입력 필드 포커스 시 스타일 */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #224d89;
    background-color: #fff;
    outline: none;
}

/* 버튼 스타일 */
#check-nickname-btn,
#check-verification-btn,
#send-verification-btn {
    background-color: #224d89;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
    font-size: 14px;
    width: 120px; /* 버튼 너비 고정 */
    text-align: center;
    white-space: nowrap;
}

/* 회원가입 버튼 스타일 */
#signup-btn {
    background-color: #224d89;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.2s;
}

/* 버튼 스타일 */
#check-nickname-btn:hover,
#check-verification-btn:hover,
#send-verification-btn:hover,
#signup-btn:hover {
    background-color: #1a3b6f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 체크박스 그룹 */
.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* 체크박스 라벨 */
.checkbox-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* 체크박스 스타일 */
.checkbox-group input[type="checkbox"] {
    margin-right: 8px; /* 체크박스와 텍스트 사이의 간격 */
}


/* 링크 스타일 */
.agreement-description a {
    color: #224d89;
    text-decoration: none;
}

.agreement-description a:hover {
    text-decoration: underline;
}


/* 버튼 그룹 (닉네임, 이메일 등) */
.nickname-group,
.email-group,
.verification-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 입력 필드 크기 조정 (버튼 공간 제외) */
.nickname-group input,
.email-group input,
.verification-group input {
    width: calc(100% - 140px); /* 버튼 공간을 제외한 필드 너비 조정 */
}

/* 버튼 크기 조정 */
.nickname-group button,
.email-group button,
.verification-group button {
    height: 40px; /* 버튼 높이 맞추기 */
    margin-left: 10px;
    padding: 8px 15px;
    font-size: 14px;
    width: 120px; /* 버튼 너비 고정 */
    text-align: center;
}

/* 오류 메시지 스타일 */
.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 13px;
    margin-top: 5px;
}

.password-requirements {
    color: blue; /* 파란색으로 설정 */
    font-size: 13px;
    margin-top: 5px;
}